<!-- Validation failure messages -->
<% if @recipe.present? %>
  <% if @recipe.errors.any? %>
    <% @recipe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new recipe
</h1>

<hr>

<form action="/create_recipe" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Recipe Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @recipe.try(:name) %>">
  </div>
  <hr>
  <h3>Ingredient</h3>
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="i-name">
      Ingredient Name
    </label>

    <input type="text" id="i-name" name="i-name" class="form-control" >
  </div>
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" >
  </div>
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="units">
      Units
    </label>

    <input type="text" id="units" name="units" class="form-control">
  </div>
  <input type="hidden" id="user_id" name="user_id" class="form-control"
         value="<%= current_user.try(:id) %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
